
@{
    List<NewsRes> p1 = ViewBag.p1 as List<NewsRes>;
    List<NewsRes> p2 = ViewBag.p2 as List<NewsRes>;
    List<NewsRes> p3 = ViewBag.p3 as List<NewsRes>;
    List<NewsRes> p4 = ViewBag.p4 as List<NewsRes>;
    NewsRes it1 = p1.Take(1).FirstOrDefault();
    ViewBag.Title = "danhmuc";
    Layout = "~/Views/Shared/_LayoutDanhMuc.cshtml";

}
@using ResearchWeb.Models
<div class="w980 mgauto clearfix">
    <div class="clearfix mgt15">
        <div class="w980 fl mgr10">
            <div data-check-position="soha_cate_focus_start"></div>
            <div class="clearfix zone-highlight mgt10">
                <div class="clearfix f1">
                    <div data-boxtype="zonenewsposition" id="sohaHighlightZone1" class="zone1 fl related-news" data-slottype="relatednews">
                        @{
                            <a href="/@it1.TypeName/@it1.GetFriendlyTitle()/@(it1.NewsID).html" title="@it1.Title">
                                <figure>
                                    <img class="" title="@it1.Title" alt="@it1.Title" src="@it1.ImageTH" style="width:612px;height:259px !important" />
                                    <figcaption>@it1.Title</figcaption>
                                </figure>
                            </a>
                            <h2 class="title clearfix">
                                <a href="/@it1.TypeName/@it1.GetFriendlyTitle()/@(it1.NewsID).html" title="@it1.Title" data-linktype="newsdetail">@it1.Title</a>
                            </h2>
                            <p class="sapo">@it1.ShortContent</p>
                        }
                        <ul class="related-special-news">
                            @{
                                foreach (NewsRes it2 in p1.Skip(1).Take(2).ToList())
                                {
                                    <li class='item-related-news'>
                                        <a href="/@it2.TypeName/@it2.GetFriendlyTitle()/@(it2.NewsID).html" title="@it2.Title" class="title show-popup">
                                            @it2.Title
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div id="sohaHighlightZone2" class="zone2 fr related-news" data-slottype="relatednews">
                        <ul class="list">
                            @{
                                foreach (NewsRes it2 in p2.Take(1).ToList())
                                {
                                    <li class="first" data-boxtype="zonenewsposition">
                                        <a href="/@it2.TypeName/@it2.GetFriendlyTitle()/@(it2.NewsID).html" title="@it2.Title">
                                            <figure>
                                                <img class="" title="@it2.Title" src="@it2.ImageTH" style="width:326px;height:144px !important" />
                                                <figcaption>@it2.Title</figcaption>
                                            </figure>
                                        </a><h2>
                                                <a href="/@it2.TypeName/@it2.GetFriendlyTitle()/@(it2.NewsID).html" title="@it2.Title" data-linktype="newsdetail">
                                                    @it2.Title
                                                </a>
                                            </h2><p class="sapo">@it2.ShortContent</p>
                                    </li>
                                }
                            }
                            @{
                                foreach (NewsRes it2 in p2.Skip(0).ToList())
                                {
                                    <li data-boxtype="zonenewsposition">
                                        <a href="/@it2.TypeName/@it2.GetFriendlyTitle()/@(it2.NewsID).html" title="@it2.Title" data-linktype="newsdetail" class="title show-popup">
                                            @it2.Title
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div id="ctl00_ctl00_cphBody_cphBody_ctrCatHighlight_sohaHighlightZone3" class="zone3 clearfix relative related-news" data-slottype="relatednews">
                    <div class="box-title">HOT nhất 24h</div>
                    <div id="slCatHightLight" class="slide-list timelineslide-contain list-hightlight-cate mgb25">
                        <div class="swiper-container pdb30">
                            <ul class="swiper-wrapper clearfix">
                            @{
                                foreach (NewsRes it3 in p3)
                                {
                                    <li data-boxtype='zonenewsposition' class="swiper-slide">
                                        <div class="slide-wrap">
                                            <a href="/@it3.TypeName/@it3.GetFriendlyTitle()/@(it3.NewsID).html" title="@it3.Title"><figure><img class="image" title="@it3.Title" alt="@it3.Title" src="@it3.ImageTH" style="width:260px;height:162px !important" /><figcaption>@it3.Title</figcaption></figure></a>
                                            <div class="post-detail">
                                                <h3 class="title">
                                                    <a href="/@it3.TypeName/@it3.GetFriendlyTitle()/@(it3.NewsID).html" title="@it3.Title" data-linktype="newsdetail">
                                                        @it3.Title
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                            </ul>
                            <div class="swiper-button-next"><a rel="nofollow" href="javascript:void(0);">&nbsp;</a></div>
                            <div class="swiper-button-prev"><a rel="nofollow" href="javascript:void(0);">&nbsp;</a></div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <script>(runinit = window.runinit || []).push(function() {initTimelineSlide();});</script>
                    </div>
                </div>
            </div>
            <div data-check-position="soha_cate_focus_end"></div>

            <div data-check-position="soha_cate_timeline_start"></div>
            <div class="clearfix tlwrap">
                <ul class="list-topic-cate timeline">
                    @{
                        foreach (NewsRes it4 in p4)
                        {
                            <li class='item-news-cate clearfix  related-news' data-locked="false" data-slottype='relatednews'>
                                <a href="/@it4.TypeName/@it4.GetFriendlyTitle()/@(it4.NewsID).html" title="@it4.Title"><figure><img class="thumbs-img" title="@it4.Title" alt="@it4.Title" src="@it4.ImageTH" style="width:260px;height:162px !important" /><figcaption>@it4.Title</figcaption></figure></a>
                                <div class='info-new-cate elp-list'>
                                <h3>
                                    <a href="/@it4.TypeName/@it4.GetFriendlyTitle()/@(it4.NewsID).html" title="@it4.Title" class="title-new-cate">
                                        @it4.Title
                                    </a>
                                </h3>
                                    <p>
                                        <span class='time-new kcnwn-meta date-time' title="@Convert.ToDateTime(it4.CreatedDate.ToString()).ToString("dd/MM/yyyy HH:mm")"></span>
                                    </p>
                                    <span class='sapo-new'>@it4.ShortContent</span>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


