


<!DOCTYPE html>

<!--[if IE 7 ]><html class="ie ie7 lte7 lte8 lte9" lang="vi" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8 lte8 lte9" lang="vi" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9 lte9" lang="vi" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html id="html" lang="vi" xmlns="http://www.w3.org/1999/xhtml" prefix="op: http://media.facebook.com/op#">
<!--<![endif]-->
<head id="ctl00_ctl00_Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <title>Cơ quan an ninh quyền lực số 1 Trung Quốc nói gì về cú "đả hổ" đầu tiên sau Đại hội 19?</title>
    <meta name="description" content="Vụ &quot;đả hổ&quot; tối 21/11 đã phát đi thông điệp mạnh mẽ từ chiến dịch chống tham nhũng của Chủ tịch Trung Quốc Tập Cận Bình." />
    <meta name="keywords" content="Đại hội 19,chống tham nhũng,tập cận bình,vi phạm kỷ luật nghiêm trọng,nhà lãnh đạo Trung Quốc,Trung Quốc" />
    <meta name="news_keywords" content="Đại hội 19,chống tham nhũng,tập cận bình,vi phạm kỷ luật nghiêm trọng,nhà lãnh đạo Trung Quốc,Trung Quốc" />
    <link rel="canonical" href="co-quan-an-ninh-quyen-luc-so-1-trung-quoc-noi-gi-ve-cu-da-ho-dau-tien-sau-dai-hoi-19-20171122002532244.htm" />
    <link rel="alternate" href="http://m.soha.vn/co-quan-an-ninh-quyen-luc-so-1-trung-quoc-noi-gi-ve-cu-da-ho-dau-tien-sau-dai-hoi-19-20171122002532244.htm" media="only screen and (max-width: 640px)" />
    <link rel="alternate" href="http://m.soha.vn/co-quan-an-ninh-quyen-luc-so-1-trung-quoc-noi-gi-ve-cu-da-ho-dau-tien-sau-dai-hoi-19-20171122002532244.htm" media="handheld" />
    <!--[if lt IE 7 ]>
        <noscript><meta http-equiv="refresh" content="0; url='http://soha4.sohacdn.com/old-browser.htm'" /></noscript>
        <script type="text/javascript">
            window.location.href = 'http://soha4.sohacdn.com/old-browser.htm';
        </script>
        <![endif]-->
    <meta name="google-site-verification" content="TNthD0oe_3DoN9R-iWnUdKdxiCLOBl6mKowgwXJh8tc" />


    <meta name="robots" content="index,follow,all" />



    <meta property="og:locale" content="vi_VN" />
    <meta property="fb:app_id" content="150439901816779" />
    <meta property="fb:admins" content="1133617216" />
    <meta property="fb:article_style" content="soha-01">
    <meta property="op:markup_version" content="v1.0">
    <meta name="generator" content="VCCorp.vn" />
    <meta name="copyright" content="Công ty Cổ phần VCCorp" />
    <meta name="author" content="VCCorp.vn" />
    <meta http-equiv="audience" content="General" />
    <meta name="resource-type" content="Document" />
    <meta name="distribution" content="Global" />
    <meta name="revisit-after" content="1 days" />
    <link rel="shortcut icon" type="image/ico" href="sohanews.sohacdn.com/Icons/soha-1200x630.jpg">
    <meta name="apple-mobile-web-app-title" content="Soha" />
    <meta name="application-name" content="Soha" />
    <link rel="shortcut icon" href="sohanews.sohacdn.com/Icons/soha-32.png" type="image/png" />
    <link rel="apple-touch-icon" sizes="57x57" href="sohanews.sohacdn.com/Icons/soha-57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="sohanews.sohacdn.com/Icons/soha-60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="sohanews.sohacdn.com/Icons/soha-72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="sohanews.sohacdn.com/Icons/soha-76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="sohanews.sohacdn.com/Icons/soha-114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="sohanews.sohacdn.com/Icons/soha-120.png" />
    <link rel="apple-touch-icon" sizes="128x128" href="sohanews.sohacdn.com/Icons/soha-128.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="sohanews.sohacdn.com/Icons/soha-144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="sohanews.sohacdn.com/Icons/soha-152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="sohanews.sohacdn.com/Icons/soha-180.png" />
    <link rel="icon" type="image/png" href="sohanews.sohacdn.com/Icons/soha-32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="sohanews.sohacdn.com/Icons/soha-192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="sohanews.sohacdn.com/Icons/soha-96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="sohanews.sohacdn.com/Icons/soha-16.png" sizes="16x16" />

    <!-- đặt style -->
    <link rel="stylesheet" href="https://sohanews.sohacdn.com/web_css/css-newsdetail.331.css" />
    <noscript>
        <style type="text/css">
            img.lazy {
                display: none;
            }
        </style>
    </noscript>

    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments);
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g;
        m.parentNode.insertBefore(a, m);
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-34575478-21', 'auto');
    ga('send', 'pageview');
    </script>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34575478-32']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>



    <!--[if lt IE 9]>
    <script src="http://soha4.sohacdn.com/scripts/lib/html5.js"></script>
    <![endif]-->



    <style>
        .news-content hr {
            border-top: 1px solid #ccc;
        }

        .VCSortableInPreviewMode[type="content"] p {
            word-wrap: break-word;
        }
    </style>

    <script type="text/javascript">
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1&appId=150439901816779";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript">
        var _ADM_Channel = '%2fquoc-te%2fdetail%2f';

    </script>



    <script src="media1.admicro.vn/suts/pcl.js" type="text/javascript" async="async"></script>
    <script src="media1.admicro.vn/core/adm_tracking.js" type="text/javascript" async="async"></script>
    <script>
    var _comscore = _comscore || [];
    _comscore.push({ c1: "2", c2: "17793284" });
    (function () {
        var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
        s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
        el.parentNode.insertBefore(s, el);
    })();
    </script>
    <noscript>
        <img src="b.scorecardresearch.com/p.gif" />
    </noscript>
    <script src="sentry.mediacdn.vn/raven.min.js"></script>
    <script type="text/javascript">
        /*mobile*/
        var isSportPage = 0;
        function setCookieMobileRedirect(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }

        function CheckMobileRedirect() {
            try {
                //check session on client
                if (typeof (Storage) !== "undefined") {
                    var session = sessionStorage.getItem("VisitSession");
                    if (session == null) {
                        //phien lam viec moi
                        sessionStorage.setItem("VisitSession", "1");

                        var hash = window.location.hash;
                        if (hash == "#first") {
                            //link được redirect từ bản mobile sang thì không làm gì.
                            window.history.replaceState("", "", window.location.href.split('#')[0]);
                        }
                        else {
                            //nếu không phải link đá từ mobile thì remove cookie ở đây.
                            setCookieMobileRedirect("browser", "", -1);
                            //reload lại trang để hệ thống chuyển về bản mobile.
                            if (navigator.userAgent.match(/(iPhone|iPod|iPad|Android|BlackBerry|Windows Phone|webOS)/i) != null) {
                                window.location = window.location.href;
                            }
                        }
                    } else {
                        //van dang o phien lam viec cu thi khong lam gi.
                    }
                }
            } catch (e) {
                console.log("Lỗi check mobile redirect: " + e);
            }

        }
        //check mobile
        CheckMobileRedirect();
        /*end mobile*/

    </script>
    <script type="text/javascript">var appSettings = {domain:'http://soha.vn',imageDomain:'http://sohanews.sohacdn.com',videoImageDomain:'http://video-thumbs.mediacdn.vn',ajaxDomain:'http://s1.soha.vn',allowVietId:true, allowFacebook:true, videoHdDomain:'http://vcplayer.mediacdn.vn/1.1'};</script>
    <script type="text/javascript" src="https://sohanews.sohacdn.com/web_js/js-newsdetail.331.js" async></script>


    <script>
        (runinit = window.runinit || []).push(function () { loadJsAsync('https://mingid.mediacdn.vn/js/mingid_core.js', function () { }); });
    </script>
    <!-- GOOGLE SEARCH STRUCTURED DATA FOR ARTICLE -->
    @*<script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage":{
        "@type":"WebPage",
        "@id":"http://soha.vn/co-quan-an-ninh-quyen-luc-so-1-trung-quoc-noi-gi-ve-cu-da-ho-dau-tien-sau-dai-hoi-19-20171122002532244.htm"
        },
        "headline": "Cơ quan an ninh quyền lực số 1 Trung Quốc nói gì về cú "đả hổ" đầu tiên sau Đại hội 19?",
        "description": "Vụ "đả hổ" tối 21/11 đã phát đi thông điệp mạnh mẽ từ chiến dịch chống tham nhũng của Chủ tịch Trung Quốc Tập Cận Bình.",
        "image": {
        "@type": "ImageObject",
        "url": "http://sohanews.sohacdn.com/zoom/700_438/2017/639190-xi-jninpig-1-1511285008286-0-24-400-668-crop-1511285011671.jpg",
        "width" : 700,
        "height" : 438
        },
        "datePublished": "2017-11-22T07:40:00+08:00",
        "dateModified": "2017-11-22T07:40:00+08:00",
        "author": {
        "@type": "Person",
        "name": "Thủy Thu"
        },
        "publisher": {
        "@type": "Organization",
        "name": "soha.vn",
        "logo": {
        "@type": "ImageObject",
        "url": "https://sohanews.sohacdn.com/Icons/soha-60.png",
        "width": 60,
        "height": 60
        }
        }
        }
    </script>*@
    <!-- GOOGLE BREADCRUMB STRUCTURED DATA -->
    @*<script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
        {
        "@type": "ListItem",
        "position": 1,
        "item": {
        "@id": "http://soha.vn",
        "name": "Trang chủ"
        }
        },{
        "@type": "ListItem",
        "position": 2,
        "item": {
        "@id": "http://soha.vn/quoc-te.htm",
        "name": "Quốc tế"
        }
        }
        ]
        }
    </script>*@
    <meta property="og:type" content="Article" />
    <meta property="og:url" content="http://soha.vn/news-20171122002532244.htm" />
    <meta property="og:title" content="Cơ quan an ninh quyền lực số 1 Trung Quốc nói gì về cú &#39;đả hổ&#39; đầu tiên sau Đại hội 19?" />
    <meta property="og:image" content="http://sohanews.sohacdn.com/zoom/600_315/2017/639190-xi-jninpig-1-1511285008286-25-0-393-700-crop-1511285023754.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    <meta property="og:description" content="Vụ &#39;đả hổ&#39; tối 21/11 đã phát đi thông điệp mạnh mẽ từ chiến dịch chống tham nhũng của Chủ tịch Trung Quốc Tập Cận Bình." />
</head>
<body>
    <script type="text/javascript">
        var admicroAD = admicroAD || {};
        admicroAD.unit = admicroAD.unit || [];
    </script>

    <script type="text/javascript" src="media1.admicro.vn/core/admcore.js" async="async"></script>
    <form name="aspnetForm" method="post" action="co-quan-an-ninh-quyen-luc-so-1-trung-quoc-noi-gi-ve-cu-da-ho-dau-tien-sau-dai-hoi-19-20171122002532244.htm" id="aspnetForm">
        <div>
            <input type="hidden" name="hdPageType" id="hdPageType" value="detail" />
            <input type="hidden" name="adm_meta_thumb" id="adm_meta_thumb" value="http://sohanews.sohacdn.com/zoom/260_162/2017/639190-xi-jninpig-1-1511285008286-0-24-400-668-crop-1511285011671.jpg" />
            <input type="hidden" name="hdNewsUrl" id="hdNewsUrl" value="/quoc-te/co-quan-an-ninh-quyen-luc-so-1-trung-quoc-noi-gi-ve-cu-da-ho-dau-tien-sau-dai-hoi-19-20171122002532244.htm" />
            <input type="hidden" name="hdNewsId" id="hdNewsId" value="20171122002532244" />
            <input type="hidden" name="hdZoneUrl" id="hdZoneUrl" value="quoc-te" />
            <input type="hidden" name="hidCategoryEmail" id="hidCategoryEmail" value="thegioi@ttvn.vn" />
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTM1NjA4OTUxM2QYCAU2Y3RsMDAkY3RsMDAkY3BoQm9keSRjcGhCb2R5JGN0bDAwJFRvcERlZmF1bHQyJG12UGFyZW50Dw9kZmQFOGN0bDAwJGN0bDAwJGNwaEJvZHkkY3BoQm9keSRjdGwwMCRjdHJCb3hDb21tZW50JG12UGFyZW50Dw9kAgFkBTxjdGwwMCRjdGwwMCRjcGhCb2R5JGNwaEJvZHkkY3RsMDAkQm90dG9tRGV0YWlsUGFnZTEkbXZQYXJlbnQPD2RmZAUlY3RsMDAkY3RsMDAkSGVhZEluZm9ybWF0aW9uMSRtdlJvYm90cw8PZGZkBSdjdGwwMCRjdGwwMCRjcGhCb2R5JEJvdHRvbUFsbDEkbXZQYXJlbnQPD2RmZAUwY3RsMDAkY3RsMDAkY3BoQm9keSRjcGhCb2R5JGN0bDAwJGN0bDAwJG12UGFyZW50Dw9kZmQFKGN0bDAwJGN0bDAwJEJvdHRvbVJpZ2h0RGVmYXVsdDEkbXZQYXJlbnQPD2RmZAUwY3RsMDAkY3RsMDAkY3BoQm9keSRjcGhCb2R5JGN0bDAwJGN0bDAxJG12UGFyZW50Dw9kZmREw4BU8feEb6Y3cxSAfz6VSo8V7co35X5qe445tHaBZQ==" />
        </div>


        <script type="text/javascript">
//<![CDATA[
var ZONE = {"HauTruongTheThao":10045,"Id":10030,"ParentId":0,"Name":"Quốc tế","DisplayUrl":"quoc-te","Url":"/quoc-te.htm","Description":"","Keywords":"","Title":"","SortOrder":3,"IsParent":true,"LaMucHauTruong":false,"UseForFunnyNews":false,"Parent":null,"Invisibled":false,"RssUrl":"/quoc-te.rss","ParentDisplayUrl":""};//]]>
        </script>


        <script type="text/javascript">

        </script>

        <div id="admWrapsite">


            <div id="admzone13609"></div>
            <script>
    admicroAD.unit.push(function () { admicroAD.show('admzone13609') });
            </script>


            <div class="page-header">


                <div class="page-top">
                    <div class="w980 mgauto clearfix">

                        <div class="fl link">
                            <a href="soha_default_2.html" title="Tin tức tổng hợp, tin nhanh mới nhất trong ngày">Tin tức</a><a href="afamily.vn/afamily_default.html" title="Gia đình" target="_blank">Afamily</a><a href="kenh14.vn/kenh14_default.html" title="Giải trí" target="_blank">Kenh14</a><a href="autopro.com.vn/autopro_com_default.html" title="ô tô" target="_blank">Autopro</a><a href="genk.vn/genk_default.html" title="Công nghệ" target="_blank">GenK</a><a href="gamek.vn/gamek_default.html" title="GameK" target="_blank">GameK</a>
                        </div>

                        <div class="fr action">
                            <span class="item hotline"><i class="ico-hotline"></i>Hotline: <b>0943 113 999</b></span>
                            <span class="item trigger search">
                                Tìm kiếm<i class="ico-search"></i>
                                <div class="box-search" style="display: none;">
                                    <input id="textSearch" type="text" class="text"><input id="btnSearch" type="button" class="button" value="">
                                </div>
                            </span>

                        </div>
                        <div class="fr link nhomchude">
                            <a href="nhom-chu-de/magazine.htm" title="Nhóm chủ đề Magazine">Magazine</a>
                        </div>
                    </div>
                </div>


                <div class="page-head">
                    <div class="w980 mgauto clearfix relative">
                        <a href="soha_default_2.html" class="logo" title="Trang chủ"></a>


                        <div class="khwth-trending-wrapper">
                            <ul class="list-khwtht clearfix"></ul>
                        </div>





                        <a href="the-thao/anh.htm" title="Ngoại hạng Anh">
                            <img src="sohanews.sohacdn.com/web_images/EPL_img.png" class="fr mgt30" />
                        </a>
                    </div>
                </div>

                <div id="ctl00_ctl00_cphBody_PageMenu1_MenuDefault" class="page-menu">
                    <div class="inner clearfix">
                        <a href="soha_default_2.html" title="Trang chủ" class="first"><i class="ico-home"></i></a><a title="THỜI SỰ" href="thoi-su.htm">Thời sự</a><a title="Kinh doanh" href="kinh-doanh.htm">Kinh doanh</a><a title="Quốc tế" href="quoc-te.htm">Quốc tế</a><a title="Quân Sự" href="quan-su.htm">Quân Sự</a><a href="the-thao.htm" title="thể thao">Thể thao</a><a title="Cư dân mạng" href="cu-dan-mang.htm">Cư dân mạng</a><a title="Giải trí" href="giai-tri.htm">Giải trí</a><a title="Pháp luật" href="phap-luat.htm">Pháp luật</a><a title="Sống khỏe" href="song-khoe.htm">Sống khỏe</a><a title="Infographic" href="infographic.htm">Infographic</a><a title="Đời sống" href="doi-song.htm">Đời sống</a><a title="Khám phá" href="kham-pha.htm">Khám phá</a><a href="video.htm" title="Video" class="last">Video</a>






                    </div>
                </div>
                <style>
                    .menudetailapec {
                        width: 100%;
                        float: left;
                        height: 50px;
                        background: url("https://sohanews.sohacdn.com/web_images/bgmenuapecdetail.png") no-repeat center;
                        margin-bottom: 10px;
                    }

                    .w1040 {
                        width: 1040px;
                        margin: 0 auto;
                    }

                    .menudetailapec li {
                        float: left;
                        height: 39px;
                        margin-right: 30px;
                    }

                        .menudetailapec li a {
                            font-family: 'SFD-SemiBold';
                            font-size: 16px;
                            font-weight: normal;
                            color: #fff;
                            display: inline-block;
                            text-transform: uppercase;
                            line-height: 50px;
                        }

                            .menudetailapec li a.active {
                                border-bottom: 2px solid #1de8ce;
                                line-height: 50px;
                                height: 48px;
                            }
                </style>











            </div>

            <div class="page-body clearfix">

                <div class="clearfix adm-mainsection">
                    <div class="w980 mgauto clearfix inner mgt15 ">
                        <div class="clearfix mgt15 submenupagedetail">
                            <nav id="sohaSubCategories" class="sub-menu clearfix">
                                <a href="quoc-te.htm" title="Quốc tế">Quốc tế</a><a href="http://soha.vn/quoc-te/thoi-su-the-gioi.htm" title="Thời sự thế giới">Thời sự thế giới</a><a href="http://soha.vn/quoc-te/tu-lieu.htm" title="Tư liệu">Tư liệu</a>
                            </nav>
                        </div>
                        <div class="clearfix mgt15">
                            <div class="w980 fl news-detail default epl-default adm-leftsection">
                                <main>
                                    @RenderBody()
                                </main>
                            </div>
                        </div>
                        <div id="adm_sponsor_footer1"></div>
                        <div class="clr" id="admStickyFooter"></div>
                        <div class="clr" id="adm_sticky_footer"></div>
                        <div class="clearfix">
                            <div class="boxSameZone" id="boxSameZone">
                                <b>Cùng chuyên mục</b>

                                <div class="fl">
                                    <div class="first"><a href="vua-thoat-chet-binh-si-trieu-tien-dao-tau-da-doi-nghe-k-pop-20171122072901322.htm" title="Vừa tho&#225;t chết, binh sĩ Triều Ti&#234;n đ&#224;o tẩu đ&#227; đ&#242;i nghe K-Pop"><figure><img class="" title="Vừa tho&#225;t chết, binh sĩ Triều Ti&#234;n đ&#224;o tẩu đ&#227; đ&#242;i nghe K-Pop" alt="Vừa tho&#225;t chết, binh sĩ Triều Ti&#234;n đ&#224;o tẩu đ&#227; đ&#242;i nghe K-Pop" src="http://sohanews.sohacdn.com/zoom/390_245/2017/photo1511310390329-1511310390474-0-6-269-440-crop-1511310442518.jpg" width="390" height="245" /><figcaption>Vừa thoát chết, binh sĩ Triều Tiên đào tẩu đã đòi nghe K-Pop</figcaption></figure></a><h3><a href="vua-thoat-chet-binh-si-trieu-tien-dao-tau-da-doi-nghe-k-pop-20171122072901322.htm" title="Vừa tho&#225;t chết, binh sĩ Triều Ti&#234;n đ&#224;o tẩu đ&#227; đ&#242;i nghe K-Pop">Vừa thoát chết, binh sĩ Triều Tiên đào tẩu đã đòi nghe K-Pop</a></h3><p>Tờ Dong-a Ilbo của Hàn Quốc cho hay, khi binh sĩ Triều Tiên đào tẩu bị thương nặng và được điều trị trong một bệnh viện tại Hàn Quốc tỉnh dậy, người này đã có một đề nghị bất ngờ là muốn nghe nhạc Hàn.</p></div><div class="second"><a href="ong-mugabe-chinh-thuc-tu-chuc-tong-thong-zimbabwe-ket-thuc-37-nam-nam-quyen-20171121231653416.htm" title="&#212;ng Mugabe ch&#237;nh thức từ chức Tổng thống Zimbabwe, kết th&#250;c 37 năm nắm quyền"><figure><img class="" title="&#212;ng Mugabe ch&#237;nh thức từ chức Tổng thống Zimbabwe, kết th&#250;c 37 năm nắm quyền" alt="&#212;ng Mugabe ch&#237;nh thức từ chức Tổng thống Zimbabwe, kết th&#250;c 37 năm nắm quyền" src="http://sohanews.sohacdn.com/zoom/250_156/2017/1510748905798-1511280932702-0-11-524-854-crop-1511280939223.png" width="250" height="156" /><figcaption>Ông Mugabe chính thức từ chức Tổng thống Zimbabwe, kết thúc 37 năm nắm quyền</figcaption></figure></a><h3><a href="ong-mugabe-chinh-thuc-tu-chuc-tong-thong-zimbabwe-ket-thuc-37-nam-nam-quyen-20171121231653416.htm" title="&#212;ng Mugabe ch&#237;nh thức từ chức Tổng thống Zimbabwe, kết th&#250;c 37 năm nắm quyền">Ông Mugabe chính thức từ chức Tổng thống Zimbabwe, kết thúc 37 năm nắm quyền</a></h3><p>Thông tin trên được Quốc hội Zimbabwe xác nhận.</p></div>
                                    <div class="clearfix old"></div>
                                </div>
                                <div class="fr">
                                    <ul><li class="clearfix"><a href="unc-cong-bo-video-linh-trieu-tien-dao-tau-bi-ban-xuyen-bien-gioi-my-to-binh-nhuong-vi-pham-lenh-ngung-ban-201711221033384.htm" title="UNC c&#244;ng bố video l&#237;nh Triều Ti&#234;n đ&#224;o tẩu bị bắn xuy&#234;n bi&#234;n giới, Mỹ tố B&#236;nh Nhưỡng vi phạm lệnh ngừng bắn"><figure><img class="" title="UNC c&#244;ng bố video l&#237;nh Triều Ti&#234;n đ&#224;o tẩu bị bắn xuy&#234;n bi&#234;n giới, Mỹ tố B&#236;nh Nhưỡng vi phạm lệnh ngừng bắn" alt="UNC c&#244;ng bố video l&#237;nh Triều Ti&#234;n đ&#224;o tẩu bị bắn xuy&#234;n bi&#234;n giới, Mỹ tố B&#236;nh Nhưỡng vi phạm lệnh ngừng bắn" src="http://sohanews.sohacdn.com/zoom/110_70/2017/ava-1511321545032-0-0-496-799-crop-1511321549125.jpg" width="110" height="70" /><figcaption>UNC công bố video lính Triều Tiên đào tẩu bị bắn xuyên biên giới, Mỹ tố Bình Nhưỡng vi phạm lệnh ngừng bắn</figcaption></figure></a><div class="tt"><a class="bTitle" href="unc-cong-bo-video-linh-trieu-tien-dao-tau-bi-ban-xuyen-bien-gioi-my-to-binh-nhuong-vi-pham-lenh-ngung-ban-201711221033384.htm" title="UNC c&#244;ng bố video l&#237;nh Triều Ti&#234;n đ&#224;o tẩu bị bắn xuy&#234;n bi&#234;n giới, Mỹ tố B&#236;nh Nhưỡng vi phạm lệnh ngừng bắn">UNC công bố video lính Triều Tiên đào tẩu bị bắn xuyên biên giới, Mỹ tố Bình Nhưỡng vi phạm lệnh ngừng bắn</a><span title="2017-11-22T10:41:21"></span></div></li><li class="clearfix"><a href="http://soha.vn/ba-merkel-va-nuoc-duc-chia-nam-xe-bay-201711221025169.htm" title="B&#224; Merkel v&#224; nước Đức ‘chia năm xẻ bảy’"><figure><img class="" title="B&#224; Merkel v&#224; nước Đức ‘chia năm xẻ bảy’" alt="B&#224; Merkel v&#224; nước Đức ‘chia năm xẻ bảy’" src="http://sohanews.sohacdn.com/zoom/110_70/2017/photo1511320971215-1511320971496-93-0-590-800-crop-1511320992811.jpg" width="110" height="70" /><figcaption>Bà Merkel và nước Đức ‘chia năm xẻ bảy’</figcaption></figure></a><div class="tt"><a class="bTitle" href="http://soha.vn/ba-merkel-va-nuoc-duc-chia-nam-xe-bay-201711221025169.htm" title="B&#224; Merkel v&#224; nước Đức ‘chia năm xẻ bảy’">Bà Merkel và nước Đức ‘chia năm xẻ bảy’</a><span title="2017-11-22T10:24:00"></span></div></li><li class="clearfix"><a href="http://soha.vn/de-nhat-phu-nhan-zimbabwe-dang-o-dau-khi-tong-thong-mugabe-tu-chuc-20171122094528197.htm" title="Đệ nhất phu nh&#226;n Zimbabwe đang ở đ&#226;u khi Tổng thống Mugabe từ chức?"><figure><img class="" title="Đệ nhất phu nh&#226;n Zimbabwe đang ở đ&#226;u khi Tổng thống Mugabe từ chức?" alt="Đệ nhất phu nh&#226;n Zimbabwe đang ở đ&#226;u khi Tổng thống Mugabe từ chức?" src="http://sohanews.sohacdn.com/zoom/110_70/2017/photo-1-1511318518301-43-0-347-490-crop-1511318530914.jpg" width="110" height="70" /><figcaption>Đệ nhất phu nhân Zimbabwe đang ở đâu khi Tổng thống Mugabe từ chức?</figcaption></figure></a><div class="tt"><a class="bTitle" href="http://soha.vn/de-nhat-phu-nhan-zimbabwe-dang-o-dau-khi-tong-thong-mugabe-tu-chuc-20171122094528197.htm" title="Đệ nhất phu nh&#226;n Zimbabwe đang ở đ&#226;u khi Tổng thống Mugabe từ chức?">Đệ nhất phu nhân Zimbabwe đang ở đâu khi Tổng thống Mugabe từ chức?</a><span title="2017-11-22T10:01:00"></span></div></li><li class="clearfix"><a href="http://soha.vn/chan-dung-nguoi-ke-nhiem-tong-thong-zimbabwe-20171122093842666.htm" title="Ch&#226;n dung người kế nhiệm Tổng thống Zimbabwe"><figure><img class="" title="Ch&#226;n dung người kế nhiệm Tổng thống Zimbabwe" alt="Ch&#226;n dung người kế nhiệm Tổng thống Zimbabwe" src="http://sohanews.sohacdn.com/zoom/110_70/2017/emmerson-zimbabwe-1511318221272-20-0-571-888-crop-1511318224365.jpg" width="110" height="70" /><figcaption>Chân dung người kế nhiệm Tổng thống Zimbabwe</figcaption></figure></a><div class="tt"><a class="bTitle" href="http://soha.vn/chan-dung-nguoi-ke-nhiem-tong-thong-zimbabwe-20171122093842666.htm" title="Ch&#226;n dung người kế nhiệm Tổng thống Zimbabwe">Chân dung người kế nhiệm Tổng thống Zimbabwe</a><span title="2017-11-22T09:38:00"></span></div></li></ul>
                                </div>
                                <div class="clearfix"></div>

                                <div id="search-place" class="clearfix">
                                    <label>Xem theo ngày</label>
                                    <select class="sDay">
                                        <option selected="selected" value="0">Ngày</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option selected="selected" value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                    <select class="sMonth">
                                        <option value="0">Tháng</option>
                                        <option value="1">Tháng 1</option>
                                        <option value="2">Tháng 2</option>
                                        <option value="3">Tháng 3</option>
                                        <option value="4">Tháng 4</option>
                                        <option value="5">Tháng 5</option>
                                        <option value="6">Tháng 6</option>
                                        <option value="7">Tháng 7</option>
                                        <option value="8">Tháng 8</option>
                                        <option value="9">Tháng 9</option>
                                        <option value="10">Tháng 10</option>
                                        <option selected="selected" value="11">Tháng 11</option>
                                        <option value="12">Tháng 12</option>
                                    </select>
                                    <select class="sYear">
                                        <option value="0">Năm</option>
                                        <option selected="selected" value="2017">2017</option>
                                        <option value="2016">2016</option>
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                    </select>
                                    <button type="button">XEM</button>
                                </div>
                                <script type="text/javascript">

                                </script>

                            </div>
                        </div>
                        <ul id="LoadTimeLineStorage2"></ul>
                        @*<div class="clearfix mgt20" id="TimeLineDetailBottom">  load theo javascript
                            <div class="w660 fl news-detail default focus-last-position">

                                <div class="clearfix tlwrap">
                                    <ul class="list-topic-cate timeline" id="LoadTimeLineStorage">
                                        <li id="morningnews">

                                        </li>

                                    </ul>
                                    <div class="clear"></div>
                                </div>

                            </div>
                            <div class="w300 fr pdt30">
                                <div class="ads-sponsor type-2 adm-hidden"><div id="admsection7"></div></div>
                                <div id="admzone13797"></div>
                                <script>
                admicroAD.unit.push(function () { admicroAD.show('admzone13797') });
                                </script>
                            </div>
                        </div>*@
                        <div id="adm_sponsor_footer2"></div>
                        <script type="text/javascript">
        var detailType = 'normal';
        var relatedPopupId;
        var refUrl = 'http://soha.vn/co-quan-an-ninh-quyen-luc-so-1-trung-quoc-noi-gi-ve-cu-da-ho-dau-tien-sau-dai-hoi-19-20171122002532244.htm';
        var refTitle = 'Cơ quan an ninh quyền lực số 1 Trung Quốc nói gì về cú "đả hổ" đầu tiên sau Đại hội 19?';

                        </script>
                        <script type="text/lazyscript">
                            if (ZONE)
                                $('.page-menu a[href="' + ZONE.Url + '"]').addClass('active');
                        </script>
                        <script>
         (runinit = window.runinit || []).push(function () {
             function formatDate(date) {
                 var d = date,
                     month = '' + (d.getMonth() + 1),
                     day = '' + d.getDate(),
                     year = d.getFullYear(),
                     hour = '' + d.getHours(),
                     minute = '' + d.getMinutes(),
                     second = '' + d.getHours();

                 if (month.length < 2) month = '0' + month;
                 if (day.length < 2) day = '0' + day;

                 if (hour.length < 2) hour = '0' + hour;
                 if (minute.length < 2) minute = '0' + minute;
                 if (second.length < 2) second = '0' + second;

                 return [year, month, day].join('-') + 'T' + [hour, minute, second].join(':');
             }
             var MorningNews = {
                 url: 'http://news.aiservice.vn:9987/v1/dsp/news/list?topitem=10',
                 itemFormat: "<li class='item-news-cate clearfix morningnews{8}' data-newsid='{7}'>" +
                     "<a href='http://soha.vn/%7B1%7D' title='{2}'><figure><img class='thumbs-img' width='260' height='162' src='http://soha.vn/%7B3%7D'/></figure></a>" +
                     "<div class='info-new-cate elp-list'>{6}" +
                     "<h3><a class='title-new-cate' href='http://soha.vn/%7B1%7D' title='{2}'>{0}</a></h3><p><span class='p-cat-info'></span><span class='time-new kcnwn-meta date-time' title='{4}'></span></p><span class='sapo-new'>{5}</span></div></li>",
                 init: function () {
                     var me = this;
                     $.getJSON(me.url, function (data) {
                         var html = '';
                         for (var i = 0; i < data.length; i++) {
                             var item = data[i];

                             var dateTime = new Date(item.time);
                             var timestring = formatDate(dateTime);

                             var sapo = '';
                             if (typeof(item.sapo) != "undefined")sapo = item.sapo;


                             html += String.format(me.itemFormat,
                                 item.title, //0
                                 item.url, //1
                                 item.title.replace('\'', '"').replace('"', '&quot;'), //2
                                 item.img.replace('\\/', '/').replace('https://sohanews.sohacdn.com/', 'https://sohanews.sohacdn.com/zoom/260_162/'), //3
                                 timestring,//'2017-09-25T09:12:15', //4
                                 sapo, //5
                                 '<p class=\"boxtype-title\">[Tin sáng]</p>', //6
                                 item.newsid,//7
                                 i === data.length - 1 ? " last" : ''
                             );
                         }
                         $("#morningnews").replaceWith(html);
                         $(".morningnews .time-new").timeago();
                     }
                     );

                 }
             };
             if (window.location.host ==='b14.channelvn.net') {
                 MorningNews.init();
             }
         });
                        </script>
                        <style>
                            .morningnews.last {
                                border-bottom: 1px solid #007f74;
                            }

                            .list-topic-cate .item-news-cate .info-new-cate p.boxtype-title {
                                font-weight: bold;
                                color: #007f74;
                                margin-top: -3px;
                                margin-bottom: 5px;
                            }
                        </style>
                    </div>

                    <div class="light-box-bounder">
                        <div class="light-box-content">
                            <div class="light-box loading">
                            </div>
                        </div>
                        <div class="close-wrap">
                            <div class="close">
                                <div class="close-1"></div>
                                <div class="close-2"></div>
                            </div>
                        </div>
                    </div>


                </div>
                <script type="text/javascript">
        var tagparam = ["dai-hoi-19","chong-tham-nhung","tap-can-binh","vi-pham-ky-luat-nghiem-trong","nha-lanh-dao-trung-quoc","trung-quoc"];
        var ajaxDomain = 'http://s1.soha.vn';
        /*acasncasncas**/

        var quizNamespace = 'bientap.news.soha.vn';


            //(runinit = window.runinit || []).push(function () {
            //    relatedNews.initTimelinePoppup();
            //});


                </script>
                <script src="http://media1.admicro.vn/js_boxapp/tagsponsorz_473689.js"></script>

            </div>
            <div class="clr" id="adm_sticky_footer2"></div>
            

            




            
            <style>
                #VID_taskbar {
                    display: none !important;
                }
            </style>
            <div id="VID_taskbar" class="VID_taskbar" rel="d9397051b44ba718cc57c54a881cd19e"></div>
        </div>

        <div>

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="C7FDD17C" />
        </div>

        <script type="text/javascript">
//<![CDATA[
var pageConfig = {suggestVideoUrl:'http://s1.soha.vn/video/zone-10/suggest-videos.htm'}//]]>
        </script>
    </form>


    
</body>
</html>
<!--w-u : [10:44:29 22/11/2017 - 10:44:29 22/12/2017] | [/co-quan-an-ninh-quyen-luc-so-1-trung-quoc-noi-gi-ve-cu-da-ho-dau-tien-sau-dai-hoi-19-20171122002532244.htm]-->
